.header {

    border: 2px solid rgba(104, 104, 255, 0.689);
    border-radius: 10px;
    height: calc(100vh - 30%);
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;   
}

.header2 {

    display: flex;
}

/* .header3 {


} */

.header .logo, ol ul {

    font-family: "Roboto", sans-serif;
    color: rgba(104, 104, 255, 0.689);
    font-size: 18px;
}

ol {

    display: flex;
    gap: 15px;
}

ol ul:hover, .logo {

    cursor: pointer;
}